@page "/vybaveni"
@page "/co"

<table class="w-full">

    <thead class="border-b-2 border-slate-500">
        <tr>
            <th>Název</th>
            <th>Datum nákupu</th>
            <th>Datum poslední revize</th>
            <th>Potřebuje revizi?</th>
        </tr>
    </thead>

    @foreach (var item in seznamVybaveni)
    {

        @if (!item.IsInEditMode)
        {

            <tr class="@(item.NeedsRevision?"bg-red-300":"")">
                <td>@item.Name </td>
                <td>@item.BoughtDateTime.ToString("yyyy-MM-dd") </td>
                <td>@item.LastRevision.ToString("yyyy-MM-dd") </td>
                <td>@(item.NeedsRevision?"Ano":"Ne") </td>

                <td class="flex gap-1">
                    <button @onclick="() => seznamVybaveni.Remove(item)" class="bg-red-400 rounded-sm text-sm px-2 py-1">Smazat</button>
                    <button @onclick="() => item.LastRevision = DateTime.Now" class="bg-blue-400 rounded-sm text-sm px-2 py-1">Provést revizi</button>
                    <button @onclick="() => item.IsInEditMode = true" class="border-[1px] border-amber-600 rounded-sm text-sm px-2 py-1">✏️</button>
                </td>
            </tr>
        }
        else
        {
            <tr class="px-2 py-1 border-2 border-slate-600">
                <td><input class="border-2 border-slate-300" @bind-value=item.Name /> </td>
                <td><input class="border-2 border-slate-300" type="date" @bind-value=item.BoughtDateTime /> </td>
                <td><input class="border-2 border-slate-300" type="date" @bind-value=item.LastRevision /> </td>
                <td>@(item.NeedsRevision?"Ano":"Ne") </td>

                <td class="flex gap-1">
                    <button @onclick="() => item.IsInEditMode = false" class="border-[1px] border-amber-600 rounded-sm text-sm px-2 py-1">Ok</button>
                </td>
            </tr>
        }
    }
</table>

@code {
    List<VybaveniModel> seznamVybaveni = VybaveniModel.GetTestList();

}
